<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/layout.css">
</head>
<body>
    <div class="content">
        <div class="head">
            home
        </div>
        <%- include('./components/imgslider') %>
    </div>
</body>
<script src="scripts/jssor.slider-28.0.0.min.js"></script>
<script src="scripts/initslider.js"></script>
</html>